@import "tailwindcss";
@plugin "daisyui";

@theme {
 --breakpoint-2xl: 90rem;
  --breakpoint-md-2: 50rem;
  --breakpoint-md-3: 60rem;
  --breakpoint-xmd-1: 120rem;
}




body {
  overflow-x:hidden;
}

